# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build output (para quando o front-end virar Next.js/Vite)
dist/
build/
.next/
out/

# Coverage / testes
coverage/
